#item {
    // background-color: gray;
    width: 90%;
    max-width: 800px;
    #content {
        margin: 20px 5px 20px;
        line-height: 2;
    }
    #person {
        display: flex;
        align-items: center;
        margin: 10px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid var(--White);
        }
        #description {
            margin: 10px;
            // background-color: pink;
        }
    }
}
