
#about{
    // margin-top: 50px;
    
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .left {
        position: relative;
        left: 0;
        #shape {
            justify-content: flex-start;
            background-color: var(--Orange);
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-width: 5px;
            z-index: -10;
            width: 90%;
            position: relative;
        }
        #shape:after{
            content:" ";
            position: absolute;
            background-color: var(--BrightYellow);
            width: 70px;
            height: 70px;
            border-radius: 50%;
            top: 12%;
            right: 5%;
        }
       
    }
    .right {
        display: flex;
        flex-direction: column;
     
        a {
            align-self: flex-start;
        line-height: 3;

        }
    }

}
@media(max-width:1025px) and (min-width:700px){
    .about{
        .left {
            position: relative;
            width: 50%;
            img {
                margin-left: 100px;

            }
            #circle {
                left: 53%;
            }
        }
        .right {
            position: relative;
            width: 50%;
        }
    }
    
}
@media (min-width:701px) and (max-width:900px){
    .about .left img {
        width: 100%;
        left: -40%;
        // background-color: blue;
    }
}
@media(max-width:700px){
    .about {
        display: flex;
        flex-direction: column;
        margin: auto;
       .left {
           display: none;
       }
       .right {
           width: 80%;
       }
    }
}