%half_circle_bottom {
    height: 5vw;
    width: 2.5vw;
    border-top-right-radius: 6vw;
    border-top-left-radius: 6vw;
    background: var(--StrongBlue);
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
  }

#background {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;   
    
    .blue-circle-top-experience{
       @extend %half_circle_bottom;
        right: 1%;
        top: 16%;
        width: 7vw;
        height: 4vw;
        background-color: var(--StrongBlue);
        transform: rotate(0deg);

    }
    .blue-circle-experience{
      position: absolute;
      @extend %half_circle_bottom;
      background-color: var(--StrongBlue);
      right: 10%;
      top: 20%;
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
    }
    .min-yellow-circle-experience{
      position: absolute;
      @extend %half_circle_bottom;
      background-color: var(--BrightYellow);
      border-radius: 50%;
      right: 6%;
      top: 25%;
      width: 3vw;
      height: 3vw;
    }
    .orange-circle-experience2{
      position: absolute;
      @extend %half_circle_bottom;
      background-color: var(--BrightOrange);
      right: 1%;
      top: 26%;
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
    }
  
    .silver-circle-top-experience{
      position: absolute;
      @extend %half_circle_bottom;
      background-color: var(--VeryLightGray);
      right: 10%;
      top: 29%;
      width: 3vw;
      height: 3vw;
      transform: rotate(-90deg);
    }
    .banana-yellow-circle-experience{
      position: absolute;
      background-color: var(--BrightYellow);
      @extend %half_circle_bottom;
        right: 6%;
        top: 35%;
        width: 6vw;
        height: 3vw;
        transform: rotate(-90deg);
    }
    .d-yellow-experience{
      position: absolute;
      @extend %half_circle_bottom;
      background-color: var(--BrightYellow);
      right: 1%;
      top: 34%;
      width: 5vw;
      height: 5vw;
      transform: rotate(90deg);
    }
    .d-orange-experience{
      position: absolute;
      @extend %half_circle_bottom;
      background-color: var(--BrightOrange);
      right: 9%;
      top: 43%;
      width: 7vw;
      height: 3.5vw;
      transform: rotate(-90deg);
    }
    .banana-silver-circle-experience{
      background-color: var(--VeryLightGray);
      @extend %half_circle_bottom;
        right: 6%;
        top: 47%;
        width: 5vw;
        height: 2.5vw;
        transform: rotate(90deg);
    }
  
  .blue-circle-experience2{
    @extend %half_circle_bottom;
    right: 10%;
    top: 54%;
    width: 5vw;
    height: 5vw;
    background-color: var(--StrongBlue);
    border-radius: 50%
}
  .d-blue-circle-experience{
    @extend %half_circle_bottom;
    right: 2%;
    top: 45%;
    width: 4vw;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    position: absolute;
    background-color: var(--StrongBlue);
    transform: rotate(-90deg);
  }
  .yellow-circle-experience2{
    position: absolute;
    @extend %half_circle_bottom;
    background-color: var(--BrightYellow);
    right: 6%;
    top: 55%;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
  }

  .d-orange-experience2{
    background-color: var(--BrightOrange);
    @extend %half_circle_bottom;
      right: 0%;
      top: 5%;
      width: 7vw;
      height: 4vw;
      transform: rotate(-90deg);
  }
  .m-orange-circle-experience{
    position: absolute;
    @extend %half_circle_bottom;
    background-color: var(--BrightOrange);
    right:11%;
    top: 65%;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
  }
  .silver-circle-experience{
    @extend %half_circle_bottom;
    background-color: var(--VeryLightGray);
    right:5.5%;
    top: 68%;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
  }
  .pizza-orange-experience{
    background-color: var(--BrightOrange);
    @extend %half_circle_bottom;
      right: 7%;
      top: 62%;
      width: 3vw;
      height: 3vw;
      border-top-right-radius: 0vw;
  }
  .mid-silver-circle-experience{
    position: absolute;
    @extend %half_circle_bottom;
    background-color: var(--BrightYellow);
    left: -1%;
    top: 45%;
    width: 6vw;
    height: 3vw;
    transform: rotate(90deg);
  }
  .mid-blue-circle-experience{
    position: absolute;
    @extend %half_circle_bottom;
    background-color: var(--StrongBlue);
    left: 0;
    top: 34%;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
  }
  .mid-yellow-circle-experience{
    position: absolute;
    @extend %half_circle_bottom;
    background-color: var(--SlightlyBlue);
    left: -1%;
    top: 24%;
    width: 6vw;
    height: 3vw;
    transform: rotate(90deg);
  }
  .pizza-orange-experience2{
    background-color: var(--BrightOrange);
    @extend %half_circle_bottom;
      width: 60px;
      height: 60px;
      border-top-right-radius: 5px;
      border-top-left-radius: 90px;
      position: absolute;
      position: absolute;
      left:0;
      top: 56%;
  }
  .last-cicle-experience{
    @extend %half_circle_bottom;
    right: 0;
    top: 60%;
    width: 7vw;
    height: 4vw;
    background-color: var(--BrightOrange);
    transform: rotate(-90deg);
  }
  
}

@media(max-width:700px){
  #background{
    .orange-circle-experience,
    .blue-circle-top-experience,
    .blue-circle-experience,
    .min-yellow-circle-experience,
    .orange-circle-experience2,
    .silver-circle-top-experience,
    .banana-yellow-circle-experience,
    .d-yellow-experience,
    .d-orange-experience,
    .banana-silver-circle-experience,
    .blue-circle-experience2,
    .d-blue-circle-experience,
    .yellow-circle-experience2,
    .d-orange-experience2,
    .m-orange-circle-experience,
    .silver-circle-experience,
    .pizza-orange-experience,

    .mid-silver-circle-experience,
    .mid-blue-circle-experience,
    
    .mid-yellow-circle-experience,
    .pizza-orange-experience2
    {
      display: none;
    
    }
  }
}


@media(min-width:701px) and (max-width:1200px){
  #background{
    // .orange-circle-experience,
    .blue-circle-top-experience,
    .blue-circle-experience,
    .min-yellow-circle-experience,
    .orange-circle-experience2,
    .silver-circle-top-experience,
    .banana-yellow-circle-experience,
    .d-yellow-experience,
    .d-orange-experience,
    .banana-silver-circle-experience,
    .blue-circle-experience2,
    // .d-blue-circle-experience,
    // .yellow-circle-experience2,
    .d-orange-experience2,
    .m-orange-circle-experience,
    .silver-circle-experience,
    .pizza-orange-experience,

    .mid-silver-circle-experience,
    // .mid-blue-circle-experience,
    
    .mid-yellow-circle-experience,
    .pizza-orange-experience2
    {
      display: none;
   
    }
  }
}