
#blog {
    // overflow-y: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    .bigtext {
        align-items: center;
        margin-bottom: 10px;
    }
    .button {
        margin: 20px;
    }
}


@media (max-width: 700px){
    .bigtext{
        width: 70%;
    }
}