

 #text-shadow {
    position: absolute;
    z-index: -10;
    font-size: 8rem;
    opacity: 0.1;
    color: silver;
    display: flex;
    flex-direction: column;
    h1 {
        line-height: 0.8;
    }
}

@media(max-width:1200px) and (min-width:891px){
    #text-shadow {
        font-size: 5rem;
    }
}
@media(max-width:800px){
    #text-shadow {
        font-size: 3rem;
    }
}