.card-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media(max-width:500px){
    .card-list {
        grid-template-columns: 1fr;
    }
}
@media(min-width:600px) and (max-width:1000px){
    .card-list{
        grid-template-columns: 1fr 1fr;
    }

}