#home {
    margin-bottom: -10%;
}
.home {
  
    margin-top: -8%;
    display: flex;   
    justify-content: space-around;
    align-items: flex-start;
    .left {
        align-items: flex-start;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        h1 {
            font-size: 5rem;
            color: var(--VeryDark);
        }
        .hello {
            display: flex;
            #character {
                color: var(--Orange);
            }
        }
        .job {
            display: flex;
            align-items: center;
            p {
                margin-left: 20px;
                width: 210px;
                color: var(--DarkGray);
            }
          
        }
        .buttons {
            display: flex;
            justify-content:space-around;
            align-items: center;
            position: relative;
            top: 20px;
            #space {
                margin: 0 5px auto;
            }
        }
        button {
            margin: 0 5px;
        }
    }
    .right {
        #orange{
            z-index: -1; 
            position: absolute;
            width: 4vw; 
            height: 4vw;  
            top: 72%;
            border-radius: 50%;
            background-color: var(--Orange);
        }
        #right-shape{
            background-color:var(--BrightYellow);
            border-top-left-radius: 15vw;
            border-bottom-left-radius: 15vw;
            z-index: -1; 
            position: absolute;
            width: 30vw; 
            height: 31.5vw;
            // max-height: 30vw;
        }
       
    }
}
@media(max-width:1100px) and (min-width:701px){
    
    .home{
        .right{
            #image {
                width: 80%;
                height: 80%;
            }
            #right-shape{
                width: 40%;
                height: 40%;
                // background-color: pink;
            }    
            #orange{
               width: 50px;
               height: 50px;
            }
        }
    }
    
}

@media(max-width:700px){
    .home{
        display: grid;
        grid-template-columns: 1fr;
    .left {
        margin: 50px auto;
        justify-content: flex-start;
        h1 {
            font-size: 2rem;
        }
        .job {
            font-size: 15px;
            width: 200px;
        }
    }
    .right {
        // width: 300px;
        margin: auto;
        #right-shape{
            top: 370px;
            min-width: 280px;
            min-height:280px;
        }
        #orange{
            min-width: 40px;
            min-height: 40px;    
        }
        #image {
            height: 300px;
            width: 300px;
        }
       
    }
    
    }
}