#home {
    // margin-top: 5%;
    // margin-bottom: 5%;
}
.home {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;     
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 15%;
        h1 {
            font-size: 5rem;
            color: var(--VeryDark);
        }
        .hello {
            display: flex;
            #character {
                color: var(--Orange);
            }
        }
        .job {
            display: flex;
            align-items: center;
            p {
                margin-left: 20px;
                width: 210px;
                color: var(--DarkGray);
            }
          
        }
        .buttons {
            display: flex;
            justify-content:space-around;
            align-items: center;
            position: relative;
            top: 20px;
            #space {
                margin: 0 5px auto;
            }
        }
        button {
            margin: 0 5px;
        }
    }
    .right {
        #orange{
            z-index: -1; 
            position: absolute;
            width: 100px; 
            height: 100px;  
            // top: 450px;
            top: 70%;
            border-radius: 50%;
            background-color: var(--Orange);
        }
        #right-shape{
            background-color:var(--BrightYellow);
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            z-index: -1; 
            position: absolute;
            width: 600px; 
            height: 100%;  
        }
       
    }
}
@media(max-width:1100px) and (min-width:701px){
    
    .home{
        .right{
            #image {
                width: 90%;
                height: 90%;
            }
            #right-shape{
                width: 40%;
                // background-color: pink;
            }    
        }
    }
    
}

@media(max-width:700px){
    .home{
        grid-template-columns: 1fr;
    .left {
        margin: 50px auto;
        justify-content: flex-start;
        h1 {
            font-size: 2rem;
        }
        .job {
            font-size: 15px;
            width: 200px;
        }
    }
    .right {
        width: 300px;
        margin: auto;
        #right-shape{
            max-width: 300px; 
            max-height: 300px;    

        }
        #orange{
            max-width: 60px;
            max-height: 60px;    
        }
        #image {
            height: 250px;
            width: 250px;
        }
       
    }
    
    }
}