

.container-experience {
    margin: 10% auto 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.left {
    align-self: flex-start;
    position: relative;
    left: 20%;
}



@media(max-width:800px){
    #experience {
        margin-bottom: 50%;
    }
   
    .left {
        width: 250px;
    }
}