%shape-time-left {
    position: relative;
    background: var(--BrightYellow);
    height: 150px;
    width: 245px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    // top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
%shape-time-left:before{
    position: absolute;
    content:"";
    height: 0;
    width: 0;
    right: -25px;
    top: 55px;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent var(--BrightYellow);
}
 
.shape_time_left{
    @extend %shape-time-left;
    small,span {
        color: var(--DarkGray)
    }
}
.text-center {
    position: relative;
    bottom: 50%;
    left: 20%
}
.shape_time_right{
    @extend %shape-time-left;
    transform: rotateY(180deg);
}

#experience{
    // margin-top: 50px;
    // margin-bottom: 50px;
   
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    #line {
        position: absolute;
        background-color: var(--DarkGray);
        height: 43%;
        width: 3px;
        margin-top: 200px;
    }
   
    #circle {
        position: relative;
        width: 15px;
        height: 15px;
        z-index: 10;
        background-color: var(--Orange);
        border-radius: 50px;
        left: 70%;
        border: 10px solid var(--SoftOrange);
    }
    .left {
        position: relative;
        align-items: flex-start;
        left: -100px;
        margin-top: 30px;
    }
    .timeline {
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr  2fr;
        column-gap: 100px;
        top: 30px;
        .item {
            margin: 0 0 -60px;
        }
        .null {
        }
        
    }
}

@media(max-width:700px){
    #experience {
        // display: none;
        overflow-y: scroll;
        height: 800px;

    }
    .container {
        #line {
            left: 90%;
            margin-top: 220px;
        }
        #circle {
            left: 130px;
        }
        .left {
           position: relative;
           width: 70%;
           left: 0;
           font-size: 15px;
           .title{
              font-size: 2rem;
           }
        }
        .timeline {
            grid-template-columns: 1fr;
            // column-gap: 0;

            .item {
                padding: 5px;
                #shape-right{
                    transform: rotateX(180deg);
                }
                %shape-time-left {
                    width: 230px;
                }

            }
        }
    }
}