%half_circle_bottom {
    height: 5vw;
    width: 5vw;
    border-top-right-radius: 12vw;
    border-top-left-radius: 12vw;
    background: var(--StrongBlue);
    transform: rotate(180deg);
    z-index: -1;
  }

#background {
    z-index: -1;
    position: relative;

    .m-orange-circle-skills{
      position: relative;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        border-radius: 50%;
        top: 10%;
        width: 2vw;
        height: 2vw
      }
    .d-yellow-circle-skills{
        @extend %half_circle_bottom;
        position:absolute;
        background-color: var(--BrightYellow);
        left: 0;
        top: 15%;
        transform: rotate(90deg);
      }
      .orange-pizza-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        left: 0;
        top: 25%;
        width: 3.5vw;
        height: 3.5vw;
        border-top-left-radius: 0;
        border-top-left-radius: 0;
      }
      .blue-circle-right{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--StrongBlue);
        left: -2%;
        top: 35%;
        width: 7vw;
        height: 3.5vw;
        transform: rotate(90deg);
      }




      .banana-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightYellow);
        right: 6%;
        top: 28%;
        width: 2vw;
        height: 2vw;
        transform: rotate(90deg);
        border-radius: 50%;
      }

      .d-silver-circle-right{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--VeryLightGray);
        right: 0;
        top: 28%;
        transform: rotate(90deg);
        border-radius: 50%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      
      .silver-circle-right{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--StrongBlue);
        top: 50%;
        right: 1%;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
      }
      .d-orange-circle-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        top: 41%;
        right: -1%;
        width: 6vw;
        height: 3vw;
        transform: rotate(-90deg);
        // border-top-left-radius: 0vw;
        // border-bottom-left-radius: 0vw;
      }
      .orange-pizza-skills2{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        right: 5%;
        top: 48%;
        width: 3vw;
        height: 3vw;
        border-top-left-radius: 1vw;
        border-top-left-radius: 0;
      }
      .yellow-banana-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightYellow);
        right: 3%;
        top: 37%;
        width: 7vw;
        height: 3vw;
        transform: rotate(90deg);
      }

}

@media(max-width:700px){
    #background{
        .m-orange-circle-skills,
        .d-yellow-circle-skills,
        .orange-pizza-skills,
        .blue-circle-right,
        .d-silver-circle-right,
        .banana-skills,
        .silver-circle-right,
        .m-blue-circle-skills,
        .orange-pizza-skills2,
        .yellow-banana-skills
        {
            display: none;
        }
    }

}