%half_circle_bottom {
    height: 45px;
    width: 90px;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    background: var(--StrongBlue);
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
  }

#background {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    .m-orange-circle-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        left: 0;
        // right: -1.6%;
        top: 1%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        // transform: rotate(90deg);
      }
    .d-yellow-circle-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightYellow);
        left: 0%;
        // right: -1.6%;
        top: 17%;
        width: 90px;
        height: 90px;
        transform: rotate(90deg);
      }
      .orange-pizza-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        left: 0;
        // right: -1.6%;
        top: 43%;
        width: 85px;
        height: 90px;
        // transform: rotate(-90deg);
        border-top-left-radius: 5px;
        border-top-left-radius: 0px;
      }
      .blue-circle-right{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--StrongBlue);
        left: -2%;
        // right: -1.6%;
        top: 70%;
        width: 150px;
        height: 90px;
        transform: rotate(90deg);
            
        
      }
      .d-silver-circle-right{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--VeryLightGray);
        // left: -2%;
        right: 1.9%;
        bottom: 0;
        // top: 10%;
        width: 100px;
        height: 130px;
        transform: rotate(90deg);
        border-radius: 50%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0;
            
        
      }
      .banana-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightYellow);
        // left: -2%;
        right: 9%;
        top: 200px;
       
        width: 50px;
        height: 50px;
        transform: rotate(90deg);
        border-radius: 50%;
      
            
        
      }
      .silver-circle-right{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--StrongBlue);
        // left: -20%;
        top: 110%;
        right: 0;
        // left: 90%;
        width: 150px;
        height: 120px;
        transform: rotate(-89deg);
        z-index: -1;
        
      }
      .m-blue-circle-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--StrongBlue);
        border-radius: 50%;
        // left: -20%;
        top: 145%;
        right: 0;
        width: 80px;
        height: 80px;
        transform: rotate(-89deg);
        z-index: -1;
      }
      .orange-pizza-skills2{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightOrange);
        // left: 0;
        right: 8%;
        top: 133%;
        width: 85px;
        height: 90px;
        // transform: rotate(-90deg);
        border-top-left-radius: 5px;
        border-top-left-radius: 0px;
      }
      .yellow-banana-skills{
        position: absolute;
        @extend %half_circle_bottom;
        background-color: var(--BrightYellow);
        // left: 87%;
        right: 6%;
        top: 101%;
        width: 150px;
        height: 70px;
        transform: rotate(90deg);
      }

}

@media(max-width:700px){
    #background{
        .m-orange-circle-skills,
        .d-yellow-circle-skills,
        .orange-pizza-skills,
        .blue-circle-right,
        .d-silver-circle-right,
        .banana-skills,
        .silver-circle-right,
        .m-blue-circle-skills,
        .orange-pizza-skills2,
        .yellow-banana-skills
        {
            display: none;
        }
    }

}