

#modal-navbar {
    line-height: 2;
    font-weight: bold;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 77%;
    height: 90%;
    box-shadow: 0 3px 5px rgb(185, 180, 180);
    a {
        margin: 5px 5px 5px;
    }
    a:active {
        color: blue;
    }
    animation: 0.5s ease-out modal;
    transition: ease-in  0.3s color;
}

@keyframes modal{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 1px 5px var(--DarkGray);
        background-color: var(--HiddenText);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        box-shadow: 0 3px 5px var(--DarkGray);
        transform: translateY(0);

    }
    
}