

.nav {
    display: grid;
    margin-top: 5vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    #circle-yellow{
        position: absolute;
        top: 0px;
        left: 0;
        width: 12vw;
        height: 6vw;
        border-top-right-radius:6vw;
        border-top-left-radius: 6vw;
        transform: rotate(180deg);
        background-color: var(--BrightYellow);
        z-index: -1;
    }
    h2 {
        position: relative;
        small {
            font-size: 2rem;
            color: var(--BrightOrange);
        }
        text-align: center;
    }
    .navbar {
        position: relative;
        float: left;
        display: flex;
        right: 0px;
        align-items: center;
    }
    #width-screen {
        width: 80px;
        height: 20px;
        padding: 1px 1px;
        border: 1px solid silver;
        font-size: 15px;
        position: absolute;
        left: 0;
        top: 0;
        color: blue;
    }
}

@media(max-width:700px){
    .nav {
        display: flex;
        flex-direction: column;
        .navbar {
            display: none;
            flex-direction: column;
            width: 250px;
            margin: auto auto 50px;
            a {
                line-height: 2;
            }
            
        }
    }
   
}