

.nav {
    display: grid;
    margin-top: 5vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    
    h2 {
        position: relative;
        small {
            font-size: 2rem;
            color: var(--BrightOrange);
        }
        text-align: center;
    }
    .navbar {
        position: relative;
        float: left;
        display: flex;
        right: 0px;
        align-items: center;
    }
}

@media(max-width:700px){
    .nav {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display: none;
        flex-direction: column;
        width: 250px;
        margin: auto auto 50px;
        a {
            line-height: 2;
        }
        
    }
}