%half_circle_bottom {
  width: 8vw;
  height: 4vw;
  border-top-right-radius:6vw;
  border-top-left-radius: 6vw;
    background: var(--StrongBlue);
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
  }
  $width: 140px;
#background {
  display: flex;
    margin-top: -148px;
    z-index: -1;
    position: relative;
    height: 100%;
    .blue-circle{
        @extend %half_circle_bottom;
        right: 17%;
       
      
    }
    .yellow-circle{
       @extend %half_circle_bottom;
        right: 5%;
        background-color: var(--BrightYellow);
    }
    .orange-circle{
      @extend %half_circle_bottom;
      background-color: var(--BrightOrange);
      right: -2%;
      top: 40px;
      transform: rotate(-90deg);
      
     
    }
    .min-orange-circle2{
      @extend %half_circle_bottom;
      background-color: var(--BrightOrange);
      right: 14.5%;
      width: 30px;
      height: 40px;
      width: 2vw;
      height: 3vw;
      
     
    }
    .min-orange-circle{
      @extend %half_circle_bottom;
      background-color: var(--BrightOrange);
      right: 12%;
      top: 7%;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      
     
    }
    .blue-circle-top{
      background-color: var(--SlightlyBlue);
      @extend %half_circle_bottom;
      right: 6%;
      top:10%;
      width: 5vw;
      height: 2.5vw;
      border-top-right-radius: 7vw;
      border-top-left-radius: 7vw;
      transform: rotate(0deg);
     
    
    }
    .silver-circle{
      @extend %half_circle_bottom;
      background-color: var(--VeryLightGray);
      right: 8%;
      top: 16%;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
    }
    .blue-circle-top3{
      background-color: var(--SlightlyBlue);
      @extend %half_circle_bottom;
        right: 0%;
        top: 17%;
        width: 7vw;
        height: 4vw;
        border-top-right-radius: 7vw;
        border-top-left-radius: 7vw;
        transform: rotate(0deg);
       
      
    }
    .mid-orange-circle{
      @extend %half_circle_bottom;
      background-color: var(--BrightOrange);
      right: 0%;
      top: 25%;
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      
     
    }
    .banana{
      background-color: var(--BrightYellow);
      @extend %half_circle_bottom;
        right: 4%;
        top: 29%;
        width: 6vw;
        height: 3vw;
        transform: rotate(-90deg);
    }
    .d-yellow-circle{
      @extend %half_circle_bottom;
      right: 0%;
      top: 33%;
      width: 4vw;
      height: 4vw;
      background-color: var(--BrightYellow);
      transform: rotate(90deg);
   }
  .d-dark-circle{
    @extend %half_circle_bottom;
    right: 5%;
    top: 40%;
    width: 3vw;
    height: 3vw;
    background-color: var(--VeryDark);
    transform: rotate(-90deg);
}
  .d-blue-circle{
    @extend %half_circle_bottom;
    right: 0%;
    top: 43%;
    width: 3.5vw;
    height: 3.5vw;
    background-color: var(--StrongBlue);
    transform: rotate(-90deg);
   
  
  }
 
  .banana-silver{
    background-color: var(--VeryLightGray);
    @extend %half_circle_bottom;
      right: 3%;
      top: 50%;
      width:5vw;
      height: 2.5vw;
      transform: rotate(90deg);
  }
  .m-yellow-circle{
    @extend %half_circle_bottom;
    background-color: var(--BrightOrange);
    right:5.5%;
    top: 78%;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    
   
  }
  .d-orange-circle{
    @extend %half_circle_bottom;
    background-color: var(--BrightOrange);
    right: -2%;
    top: 54%;
    width: 8vw;
    height: 4vw;
    transform: rotate(-90deg);
    
   
  }
  .m-silver-circle{
    @extend %half_circle_bottom;
    background-color: var(--VeryLightGray);
    right:2%;
    top: 71%;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
  }
  .pizza-orange{
    background-color: var(--BrightOrange);
    @extend %half_circle_bottom;
      right: 4%;
      top: 68%;
      width: 2vw;
      height: 2vw;
      border-top-right-radius: 0.3vw;
      border-top-left-radius: 4vw;
      
     
  }
  .m-orange-circle{
    @extend %half_circle_bottom;
    background-color: var(--BrightYellow);
    right:5%;
    top: 60%;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
  }
}

@media(max-width:700px){
  #background{
    .blue-circle,
    .yellow-circle,
     .orange-circle, 
    .min-orange-circle,
    .min-orange-circle2,
    .blue-circle-top,
    .silver-circle,
    .blue-circle-top3,
    .mid-orange-circle,
    .banana,
    .d-yellow-circle,
    .d-dark-circle,
    .d-blue-circle,
    .d-orange-circle,
    .banana-silver,
    .m-yellow-circle,
    .m-silver-circle,
    .pizza-orange,
    .m-orange-circle
    {
      display: none;
    
    }
  }
}

