
#contact {
    padding-top: 0;
    background-color: var(--VeryDark);
    max-height: 500px;
}
.footer {
    background-color: var(--VeryDark);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  auto;
    img {
        background-color: var(--White);
    }
    .bigtext {
        align-items: center;
        color: var(--White);
        margin-bottom: 1%;
        .small {
            width: 80px;
        }
    }
   
    #content {
        color: var(--White);
        margin: 2% 35% 30px;
        line-height: 2;
        text-align: center;
    }
    .icons-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 1% 1%;
        a{
            margin: 2% 5% 2%;
        }
    }
}

@media(max-width:700px){
    #contact {
        display: block;
        height: 100%;
    }
    .footer {
        max-width: 300px;

        #content{
            margin-left: 10px;
            margin-right: 10px;
        }
        #img{
            width: 0;
        }
        .bigtext {
            text-align: center;
            .title{
                font-size: 2rem;

            }
        }
    }
}