
:root {
  --BrightYellow: #fed838;
  --BrightOrange: #F45B25;
  --VeryDark: #212429;
  --DarkGray: #67717d;
  --SlightlyBlue:#93C0D3;
  --StrongBlue:#048ECC;
  --VeryLightGray:#E6E6E6;
  --White:#FFFFFF;
  --Orange:#F15C25;
  --HiddenText:#F8F9FB;
  --SoftOrange:#FCD4BE;
}

// It removes all default margin and padding for every object on the page,
//  no holds barred, regardless of browser. 
* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
 

}


.App-link {
  color: var(--VeryDark);
}
