#portfolio {
    height: 100%;
}
.portfolio {
    width: 70%;
    margin: auto;
    max-width: 1000px;
     .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;
        margin-bottom: 20px;
        .small {
            width: 100%;
        }
        #buttons-search{
            width: 100%;
            display: flex;
            font-size: 15px;
            position: relative;
            p {
                margin: 1%;
            }
        }
      
    }
   a{
        margin: 5% auto 5%;
    }
}
@media(max-width:900px){
    
.portfolio {
    
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #buttons-search {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: auto;
            width: auto;
            p{
                margin: 10px 10px 10px;
            }
        }
    }
}
   
}